{% extends 'base.html' %}


{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of drone collection together!</h2>
            <h5>Create an amazing API tool for drone collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_server_status_5pbv.svg" alt="Hero Header image" class="header-image">    
        </div>
    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="API Image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="GraphQL Image">
            <h4>GraphQL API Routes</h4>
            <p>
                If you wan ALL the data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="Database Image">
            <h4>backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>
    <!-- End of Collection Featres -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_drone_surveillance_kjjg.svg" alt="Drone Image" id="Drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded drone collectors</h4>
            <p>
                Talk with other devs around the world and collab on projects with your data. Join
                our slack channel and give a star to the project on Github!
            </p>
            <div>
                <buton class="btn btn-primary">View on Github</buton>
                <buton class="btn btn-primary">Join Our Slack Channel</buton>
            </div>
        </div>
    </section>
    <!-- End of community section -->

    <!-- Footer section -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/Coding Drones Logo.png" alt="Coding Drones logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>the Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>the Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>the Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>the Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>the Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}